{% extends 'base.html' %}

{% block content %}

<h1>Главная страница</h1>

<div class="row">

    <div class="col-md-4">

        <div class="card p-3">

            <h5>Всего рассылок</h5>

            <h2>{{ total_mailings }}</h2>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card p-3">

            <h5>Активные</h5>

            <h2>{{ active_mailings }}</h2>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card p-3">

            <h5>Получатели</h5>

            <h2>{{ recipients_count }}</h2>

        </div>

    </div>

</div>


<hr>

<a class="btn btn-primary"
   href="{% url 'mailing_list' %}">
    Рассылки
</a>

<a class="btn btn-primary"
   href="{% url 'recipient_list' %}">
    Клиенты
</a>

<a class="btn btn-primary"
   href="{% url 'message_list' %}">
    Сообщения
</a>

{% endblock %}